body {
  font-family: Arial;
  background-color: #333;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 192px;
  margin: auto;
  border:5px solid white;
  border-radius: 5px;
  margin-bottom: 2%;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}
.cell.revealed {
  background-color: #eee;
  border-color: #999;
}
.cell.mine {
  background-color: red;
}
h1{
  color:white;
}

#restart-button{
  color:white;
  width: 10%;
  height: 5%;
  background-color: #333;
  border:3px solid white;
  border-radius: 5px;
  padding: 1%;
}
#restart-button:hover{
  background-color: #222;

}
